doctype
html
  head
    title= title
    link(rel="stylesheet" href="../static/css/styles.css")
    meta(charset="utf-8")
  body
    include ./player.jade
    header
      p.logo ESubs

    .content-wrapper
      .input-wrapper
        input(type="file" id="video-input" class="upload-video")
        a(href="" class="button button-yellow" onclick="document.getElementById('video-input').click();return false;") Upload

      .video-wrapper
        +player
    script(type="text/javascript" src="../static/js/Translator.js")    
    script(type="text/javascript" src="../static/js/Timeline.js")
    script(type="text/javascript" src="../static/js/subread.js")
    script(type="text/javascript" src="../static/js/balalaika.js")
    script(type="text/javascript" src="../static/js/Player.js")
    script(type="text/javascript" src="../static/js/main.js")
